* {
    background-color: #d59696;
   
}
h1 {
    /* Change the size of your font to 60 pixels high. */
    font-size: 60px;
    /* This will color the heading font white. */
    color: white;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: center;
    /* The background of the heading element will now be black. */
    background-color: burlywood;
          }
          h2 {
    /* Put a 15-pixel margin at the top of all h2 headings. */
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    float: none;
  }
    img {
    /* 
              Center a block element in the middle of its enclosing tag.
              When you use the "auto" rule on both left and right margins, 
              your browser will do the math necessary to center a block element.
              */
    margin-left: auto;
    margin-right: auto;
    /* Block display (more on this later) */
    display: block;
  }
  p {
    text-align: center;
    font-size: 20px;
    /* Bold the text. */
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  ul {
    text-align: center;
    font-size: 20px;
    list-style-position: inside;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  .float-left{
      float: left;
      border-radius: 50%;
      position: relative;
      left: 50px;

     
  }
  section {
      float: right;
      font-size: medium;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
  }
  header {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
  }
  #contact-info {

  }