/* .jumbotron-fluid  {
  background-color: #d4e7cd;
  text-align: center;
} */

#photoCard{
  /* margin-top: 50px;  */
  z-index: 2;
  position: absolute;
  top:0; 
  left: 0;

 
}
.card-body{
  padding: 0;
  
}
#contactCard {
  position: relative;
  z-index: 2;
  margin-left: 400px;
  margin-top: 70px;
}
#photoRow{
  position: relative;
}
#header {
  z-index: -2;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}